/*varíaveis*/
:root{
    --green:#332134
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
background: rgb(255, 184, 90);
color: rgb(255, 255, 255);

}

.navbar ul{
    display: flex;
    gap: 4px;
    list-style: none;
}
.navbar a {
color: rgb(0, 0, 0);
text-decoration: none;
}

header{
    position: relative;
}
header h3{
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
}

.container {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
}

img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
